INTERMAPPER_URL=http://monitor.osnetpr.com/g581529ef/document/_/!index.html
INTERMAPPER_USER=tu_usuario
INTERMAPPER_PASS=tu_password
SCREENSHOT_DIR=screenshots
CONCURRENT_WORKERS=3
# ... (credenciales anteriores de intermapper) ...
DB_HOST=localhost
DB_USER=root
DB_PASS=tu_password_seguro
DB_NAME=intermapper_db